@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,500);

h1
{
    font-family: 'Roboto';
    font-size: 2em;
    margin-left: 5%;
    margin-top: 5%;
    font-weight: 300;
    text-align: center;
}

h2
{
    font-family: 'Roboto';
    font-size: 1.4em;
    margin-left: 5%;
 }

ul#menu {
    padding: 0;
    text-align: center;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: #59719A;
    opacity: .4;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
}



html{
    height: 100%;
}


body
{
	background-color: #e9eaed;
    margin:0;
    width:100%;
    height: 100%;
    position: relative;
}


header{
    position:fixed;
    width: 100%;
    top:0px;
    left:0px;
    height:50px;
	background-color: #34495e;
    float:top;
    z-index: 2;
} 

#headerConnexion{
    width:100%;
    height: 50px;
    text-align: center;
    position: absolute;
}
#logoAccueil{
    text-align: center;
    position: relative;
    top:5px;
}

/*#accueil{
    margin-left: 20px;
    color:white;
    position: absolute;
    top:15px;
}

#accueil:hover{
    color:#AFAFAF;
}*/

#logo{
    top:5px;
    left: 40px;
    width: 100px;
    height:40px;
    position: absolute;
    background: url("images/logoblanc.png") no-repeat;
}


#logo:hover{
    top:5px;
    left: 40px;
    background: url("images/logogris.png") no-repeat;
    width: 100px;
    height:100%;
    position: absolute;
}

#recherche{
    position:absolute;
    left:100px;
    margin-left: 100px;
    top:5px;
}

.motcle{
    font-family: 'Roboto';
    font-style: italic;
}



#caserecherche{
    border-radius: 5px;
    border:solid 1px black;
    padding:5px;
    width: 400px;
    height:40px;
}

#boutons{
    position: absolute;
    top: 15px;
    left:1000px;
    margin-left: 50px;
}

#boutons:hover{
    color:#AFAFAF;
}

.onglet{
    margin-left: 30px;
    color:white;
}

.onglet:hover{
    color:#AFAFAF;
}

#ajouterPhoto{
    position:fixed;
    margin-left: 90%;
    top:80%;

}

#boutonplus{
    width:50px;
    height:50px;
    margin-left: 90%;
    margin-top: 90%;
}



a{
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    color:#AFAFAF;
}

a:link{ 
    text-decoration:none; 
} 

/*
a:active{
    color:white;
}*/






td{
    width:100%;
}





/*table
{
    text-align: center;

}*/

#totalConnexion{
    margin-top:150px;
    margin-left: 100px;
    width:1300px;
    height:400px;
    display: flex;
}

#connexion
{
    width:500px;
    height:400px;
    background-color: white;
    font-family: 'Dancing Script';
    text-align: center;
}

#formulaire
{
    position: absolute;
    width:500px;
    height:400px;
}

#texteConnexion
{
    text-align: center;
    font-size: 60px;
    margin-top:0px;
    font-family: 'Dancing Script';
    font-size: 4.5em;
    text-align: center;
}

#formConnexion{
    margin-top: 40px;
    height: 80%;
    width: 100%;
}

.labelConnexion{
    width: 200px;
}

.caseConnexion
{
    padding:5px;
    width: 200px;
    height:30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.champConnexion{
    font-size: 25px;
    text-align: center;
    margin-left: 5%;
    margin-top: 20px;
    height: 50px;
    display: flex;
}

#boutonConnexion{
    border-radius: 10px;
    border-color: black;
    height:30px;
    width:100px;
    font-size: 12px;
    text-align: center;
    background-color: white;
    margin-top: 20px;
    outline: none;
}

#boutonConnexion:hover{
    color:#AFAFAF;
    border-color: #AFAFAF;
}

#tdConnexion{
    text-align: center;
}

.boutonAide{
    margin-top: 20px;
    margin-right: 5%;
    text-align: center;
    color: black;
}

.boutonAide:hover{
    color: #AFAFAF;
}

#ligneAide{
    margin-top: 5%;    
    height: 50px;
}



#erreur{
    font-size: 18px;
    color:red;
}

#totalInscription{
    margin-top:150px;
    margin-left: 100px;
    width:1300px;
    height:400px;
    display: flex;
}

#inscription
{
    width:500px;
    height:400px;
    background-color: white;
    font-family: 'Dancing Script';
    position: relative;
}

#texteInscription
{
    text-align: center;
    margin-top:0px;
    font-family: 'Dancing Script';
    font-size: 2.5em;
    text-align: center;
}

#champForm{
    position: absolute;
    bottom: 50px;
}


.champInscription{
    font-size: 25px;
    text-align: center;
    margin-left: 5%;
    margin-top: 2.6%;
    height: 50px;
    display: flex;
}


#boutonInscription{
    border-radius: 10px;
    border-color: black;
    height:30px;
    width:100px;
    font-size: 12px;
    text-align: center;
    background-color: white;
    outline: none;
}

#boutonInscription:hover{
    color:#AFAFAF;
    border-color: #AFAFAF;
}

#tdInscription{
    text-align: center;
}



#erreurInscription{
    font-size: 18px;
    color:red;
    position: absolute;
    bottom:0px;
    text-align: center;
    width: 100%;
}



#testHome{
    margin-left:100px;
    top:138px;
    position: absolute;
}

#caseCommentaire{
    width: 100%;
    height: 38%;
    overflow: scroll;
}

#saisieCom{
    width: 90%;
}

#champCom{
    display: flex;
    font-family: 'Roboto';
    font-weight: 300;

}

#pseudoCom{
    font-weight: 500;
}

#leCom{
    margin-left: 2%;
}

#nbCom{
    font-style: italic;
    font-family: 'Roboto';
}

#profil
{
    margin-top: 50px;
}

#carteProfil{
    display: flex;
    margin-top: 8%;
    width: 100%;
    justify-content: center;
}

#avatar{
}

#infosProfil{
    margin-left: 3%;
}

#nomReglages{
    display: flex;
}

#divImageReglages{
    margin-left:30%;
    margin: auto;
}

#imageReglages{
    width: 30px;
    height: 30px;
}

#nomProfil{
    font-family: 'Dancing Script';
    font-size: 2.5em;
}

#caseStats{
    margin-top: 15%;
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    font-size: 1.1em;
    color:#AFAFAF;
}



#barreOngletsProfils{
    text-align: center;
    margin-top: 3%;
}
    

#ongletsProfil{
    margin-top: 5%;
}

.boutonProfil{
    font-family: 'Roboto';
    color: #374a5c;
    margin-left: 2%;
    margin-right: 2%;
}

.boutonProfil:hover{
    padding-bottom: 3px;
    border-bottom: 2px solid #374a5c;
}

#galeriePhotosProfil{
    margin-top: 5%;
    width: 100%;
    margin-left: 5%;
}

#lignePhotos{
    text-align: left;
    display: flex;
    position: relative;
    width: 100%;
}

#caseAjoutAlbum{
    width:100%;
    text-align: center;
}

#formAjoutAlbum{
    margin-top: 1%;
}

#imageAlbum{
    width: 170px;
    height: 170px;
    margin-left: 5%;
    margin-top: 5%; 
    display: flex;
}

#photoDossier{
    width: 170px;
    height: 170px;
    margin-left: 2%;
    margin-top: 4%; 
    display: flex;
}

#maPhoto{
    width: 170px;
    height: 170px;
    margin-left: 5%;
    margin-top: 5%; 
}

.lienMaPhoto{
    width: 170px;
    height: 170px;
    margin-left: 5%;
    margin-top: 5%; 
}

#afficherInfos{
    background-color: black;
    position: absolute;
    width: 170px;
    height: 170px;
    margin-top: 80px; 
    margin-left: -162px;
    opacity: 0;
    text-align: center;
}

#afficherInfos:hover{
    opacity: 0.8;
}

#afficherInfosAlbum{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 170px;
    height: 170px;
    margin-top: 5%; 
    margin-left: -170px;
    text-align: center;
    display: flex;
}

#formulaireAlbum{
    opacity: 0;
    font-family: 'Dancing Script';
    font-size: 3em;
    color: white;
    margin: 0;
    position: relative;
}

#formulaireAlbum:hover{
    opacity: 1;
}

#fondVide{
    width: 170px;
    height: 170px;
    
}

#nbPhotosAlbum{
    position: absolute;
    top: 35%;
    left: 43%;
    right: 43%;
}



#titreAlbum{
    background-color: #34495e;
    margin-top: 90%;
    margin-left: -170px;
    height: 30px;
    width: 100%;
    font-family: 'Dancing Script';
    color: white;
    position: absolute;
}

#epingleBlanche{
    opacity: 1;
    width: 30px;
    height: 30px;
    margin-top: 40%;
}

#infosLike{
    font-family: 'Roboto';
    color: white;
    font-size: 2.2em;
}

#imgCommentaires{
    opacity: 1;
    width: 25px;
    height: 25px;
    margin-top: 40%;
}


#reglages
{
    margin-left: auto;
    margin-right: auto;
    margin-top:8%;
    width:40%;
    height:75%;
    background-color: white;
    font-family: 'Dancing Script';
}



#texteReglages
{
    text-align: center;
    font-size: 60px;
    margin-top:0px;
    font-family: 'Dancing Script';
    font-size: 3.2em;
    text-align: center;
}

#formReglages{
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

#formulaireReglages{
    height: 100%;
    width: 100%;
}

.caseReglages
{
    padding:5px;
    width: 200px;
    height:30px;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.champReglages{
    font-size: 1.5em;
    text-align: center;
    margin-left: 5%;
    margin-top: 20px;
    height: 40px;
    display: flex;
}

#reglagesAlbum{
    margin-left: auto;
    margin-right: auto;
    margin-top:8%;
    width:45%;
    height:80%;
    background-color: white;
    font-family: 'Dancing Script';
}

.champReglagesAlbum{
    font-size: 1.5em;
    text-align: center;
    margin-left: 5%;
    margin-top: 50px;
    margin-right: 5%;
    height: 40px;
    display: flex;
}

.selectReglages{
    margin-left: 5%;
    width: 250px;
}

.reglerAlbum{
    margin-left: 10%;
}

.validerAjoutSupp{
    margin-left: 10%;
}

.submitModifAlbum{
    margin-left: 5%;
    width: 170px;
}

#submitReglages{
    margin-top: 5%; 
    text-align: center;
}



#retourAlbum{
    font-family: 'Dancing Script';
    font-size: 2em;
    color: black;
}

#retourAlbum:hover{
    color: #AFAFAF;
}

#tdReglages{
    text-align: center;
}


#boutonReglages{
    border-radius: 10px;
    border-color: black;
    height:30px;
    width:100px;
    font-size: 12px;
    text-align: center;
    background-color: white;
    margin-top: 20px;
    outline: none;
}

#boutonReglages:hover{
    color:#AFAFAF;
    border-color: #AFAFAF;
}

#erreurReglages{
    font-size: 18px;
    color:red;
    position: absolute;
    text-align: center;
    width:600px;
}

#postPhoto{
    display: flex;
    width:80%;
    height:500px;
    margin: auto;
    background-color: white;
    margin-bottom: 50px;
    margin-top: 60px; 
}

#affichagePhoto{
    width: 75%;
    position: relative;
    text-align: center;
    overflow-x: hidden;
}

#legende{
    width: 25%;
    z-index: 1;
    background-color: white;
    text-align: center;
    margin-top: 3%;
    margin-left: 3%;
}

#description{
    font-family: 'Dancing Script';
    font-size: 2.3em;
    margin-right: 5%;
}

#auteur{
    text-align: right;
    margin-right: 20%;
    font-size: 1.3em;
    font-style: italic;
    font-family: 'Roboto';
}

#date{
    text-align: right;
    margin-right: 20%;
    font-size: 0.8em;
    font-style: italic;
    font-family: 'Roboto';
}

#lieu{
    text-align: right;
    margin-right: 20%;
    font-size: 0.8em;
    font-style: italic;
    font-family: 'Roboto';
}

#laPhoto{
    height:500px;
}

#boutonsImage{
    display: flex;
}

#epingle{
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;
    width:50%;
    display: flex;
}

#formLike{
    width:100%;
}

#imgLike{
    width: 50px;
    height: 50px;
}

#imgUnlike{
    width: 50px;
    height: 50px;
}

#nbLikes{
    font-family: 'Dancing Script';
    font-size: 3.5em;
    margin-left: 5%;
}

#follow{
    text-align: right;
    margin-top: 10%;
    margin-left: 3%; 
}

#imgFollow{
    width: 50px;
    height: 50px;
}

#imgUnfollow{
    width: 50px;
    height: 50px;
}

#formInfos{
    margin-bottom: 0px;
}

#imageInfos{
    width: 20px;
    height: 20px;
}

#legendeExif{
    font-style: italic;
}

#conteneurExif{
    width:100%;
    height: 100%;
    text-align: center;
}

#caseExif{
    width: 40%;
    height: 60%;
    margin: auto;
    background-color: white;
    font-family: 'Roboto';
}

#caseAjout{
    margin-left: auto;
    margin-right: auto;
    margin-top:140px;
    width:600px;
    height:460px;
    background-color: white;
    font-family: 'Dancing Script';
    font-size: 4.5em;
    text-align: center;
}

.formAjout{
    font-size: 0.3em;
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
    width:100%;
}

.labelAjout{
    margin-left: 20px;
    margin-right: 50px;
    width:200px;
}

.champAjout{
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

#Nom_Fichier{
    resize: none;
    width: 300px;
    height: 50px;
}

#submitImage{
    margin-top: 30px;
}


/*form
{
	
    position:absolute;
    top: 40%;
    left: 50%;
    width:30em;
    height:21em;
    margin-top: -9em; 
    margin-left: -15em; 
    border: 1px solid #ccc;
    background-color: #59719A;
    opacity: .7;
    text-align: center;

}*/

#button
{
	margin-top: 20px;
	height: 20;
	color: #59719A;
	font-style: bold;

}

/*input
{
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:solid 1px black;
    padding:5px;
    margin-top: 10px;
    width: 100px;
}*/

#bottom
{
    background-color:#7a1d1d;
    border-radius: 0px;
    line-height: 50px;
    text-align: center;
    height: 50px;
    width: 100%;
    margin-left: 0;
}



#connectbox
{
    text-align: center;
    border: 5px solid navy;
    border-color: #E8BE33;
    padding: 15px;
    border-radius: 20px;
    color: #E8BE33;
    font-weight: bold;
    font-size: 200%;
    height: 90px;
    line-height: 0px;
    margin-top: 30px;
}

#bttn
{
    background-color: #E8BE33;
    height: 60;
    width: 150;
    border-color: #E8BE33;
    text-align: center;
    border-radius: 10px;
    color: #4D7FA8;
    margin-top: 17px;
    font-weight: bold;
    font-size: 100%;
}

.tabprofil 
{
    text-align: center;
    border-collapse: collapse;

}

footer
{
    color:white;
    margin-left: 0px;
    background-color: #34495e;
    text-align: center;
    height: 20px;
    width: 100%;
    margin-bottom: 0; 
    margin-top: 50%;
    padding-left: 0px;
    position: absolute;
    left:0px;
    z-index: 2;
}

